table.HBschedule {
	width: 100%;
	margin-bottom: 0.2em;
	}

table.HBschedule+p {
	margin-left: 1em;
	color: #999;
	}
	
table.HBschedule td,
table.HBschedule th {
	padding: 0.25em 0.2em;
	}

table.HBschedule.HBhighlight tr:hover td {
	/*background: #23B;
	color: #fff;*/
	cursor: default;
	}
	

table.HBschedule.HBhighlight tr:hover a,
table.HBschedule.HBhighlight tr:hover a:link {
	/*color: #fff;*/
	}	

table.HBschedule th {
	text-align: left;
	}

table.HBschedule td {
	text-align: left;
	border: 0;
	}

table.HBschedule .textteam {
	text-align: left;
	}
	
table.HBschedule .heim {
	font-weight: bold;
}

table.HBschedule .hostteam {
	text-align: right;
}
