table.HBschedule td.resultsymbol {
	
	padding: 0em 0.25em;
	}

table.HBschedule td.win {
	color: #BBF3B4;
	}
	
table.HBschedule td.lost {
	color: #F8C4C4;
	}
	
table.HBschedule td.tied {
	color: #F3F9BA;
	}

table.HBschedule tr.win td {
	/*background: #BBF3B4;*/
	}
	
table.HBschedule tr.lost td {
	/*background: #F8C4C4;*/
	}
	
table.HBschedule tr.tied td {
	/*background: #F3F9BA;*/
	}